# Proyek Analisis Data: [E-Commerce Public Dataset]
- **Nama:** [Syukri Fadhol Akbar]
- **Email:** [syukrifadholakbar09@gmail.com]
- **ID Dicoding:** [MS100D5Y0502]

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1 : Kategori produk mana yang paling banyak terjual?
- Pertanyaan 2 : Kapan bulan dengan jumlah pesanan tertinggi?

## Import Semua Packages/Library yang Digunakan

In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns  
import datetime as dt

## Data Wrangling

### Gathering Data

In [2]:
orders = pd.read_csv("data/orders_dataset.csv")
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

**Insight:**
- Di tahap ini saya mengambil data dari folder data dan file yang bernama orders_dataset.csv
- Lalu saya tampilkan 5 data pertama

In [3]:
order_items = pd.read_csv("data/order_items_dataset.csv")
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

**Insight:**
- Di tahap ini saya mengambil data dari folder data dan file yang bernama order_items_dataset.csv
- Lalu saya tampilkan 5 data pertama

In [4]:
products = pd.read_csv("data/products_dataset.csv")
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

**Insight:**
- Di tahap ini saya mengambil data dari folder data dan file yang bernama products_dataset.csv
- Lalu saya tampilkan 5 data pertama

In [5]:
order_reviews = pd.read_csv("data/order_reviews_dataset.csv")
order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parab√©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

**Insight:**
- Di tahap ini saya mengambil data dari folder data dan file yang bernama orders_reviews_dataset.csv
- Lalu saya tampilkan 5 data pertama

### Assessing Data

#### Pada Tahap Assessing Data kita akan melihat informasi mengenai data yang kita punya

In [6]:
print("Orders Dataset:")
print(orders.info(), "\n")

Orders Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

**Insight:**
- Di tabel orders ada 8 kolom dan tipe datanya object

In [7]:
print("Order Items Dataset:")
print(order_items.info(), "\n")

Order Items Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None

**Insight:**
- Di tabel Orders Items ada 7 kolom dan tipe data nya 4 kolom object dan 2 kolom float64 dan 1 kolom int64

In [8]:
print("Products Dataset:")
print(products.info(), "\n")

Products Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

**Insight:**
- Di tabel products ada 9 kolom, 2 kolom diantaranya memiliki tipe data object dan 7 kolom lainnya memiliki tipe data float64

In [9]:
print("Order Reviews Dataset:")
print(order_reviews.info(), "\n")

Order Reviews Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None

**Insight:**
- Di tabel order_reviews ada 7 kolom, 1 kolom diantaranya memiliki tipe data int64 dan 6 kolom lainnya memiliki tipe data object

In [10]:
print("Missing Values in Orders Dataset:")
print(orders.isnull().sum(), "\n")

Missing Values in Orders Dataset:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

**Insight:**
- Terdapat 3 kolom yang missing value

In [11]:
print("Missing Values in Order Items Dataset:")
print(order_items.isnull().sum(), "\n")

Missing Values in Order Items Dataset:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

**Insight:**
- Di tabel ini tidak ada kolom yang missing value

In [12]:
print("Missing Values in Products Dataset:")
print(products.isnull().sum(), "\n")

Missing Values in Products Dataset:
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

**Insight:**
- Di tabel products ada 8 kolom yang missing value

In [13]:
print("Missing Values in Order Reviews Dataset:")
print(order_reviews.isnull().sum(), "\n")

Missing Values in Order Reviews Dataset:
review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [14]:
print("Duplicated Data in Orders Dataset:", orders.duplicated().sum())
print("Duplicated Data in Order Items Dataset:", order_items.duplicated().sum())
print("Duplicated Data in Products Dataset:", products.duplicated().sum())
print("Duplicated Data in Order Reviews Dataset:", order_reviews.duplicated().sum())

Duplicated Data in Orders Dataset: 0
Duplicated Data in Order Items Dataset: 0
Duplicated Data in Products Dataset: 0
Duplicated Data in Order Reviews Dataset: 0

**Insight:**
- Kita dapat melihat tidak ada data yang duplikat jadi kita bersihkan yang missing value saja

### Cleaning Data

In [15]:
total_orders = len(orders)
total_order_items = len(order_items)
total_products = len(products)
total_order_reviews = len(order_reviews)

In [16]:
missing_orders = orders.isnull().sum().sum()
missing_order_items = order_items.isnull().sum().sum()
missing_products = products.isnull().sum().sum()
missing_order_reviews = order_reviews.isnull().sum().sum()

In [17]:
print(f"Total Data Orders: {total_orders}")
print(f"Total Missing Values Orders: {missing_orders} ({(missing_orders / total_orders) * 100:.2f}%)\n")

print(f"Total Data Order Items: {total_order_items}")
print(f"Total Missing Values Order Items: {missing_order_items} ({(missing_order_items / total_order_items) * 100:.2f}%)\n")

print(f"Total Data Products: {total_products}")
print(f"Total Missing Values Products: {missing_products} ({(missing_products / total_products) * 100:.2f}%)\n")

print(f"Total Data Order Raviews: {total_order_reviews}")
print(f"Total Missing Values Order Reviews: {missing_order_reviews} ({(missing_order_reviews / total_order_reviews) * 100:.2f}%)\n")

Total Data Orders: 99441
Total Missing Values Orders: 4908 (4.94%)

Total Data Order Items: 112650
Total Missing Values Order Items: 0 (0.00%)

Total Data Products: 32951
Total Missing Values Products: 2448 (7.43%)

Total Data Order Raviews: 99224
Total Missing Values Order Reviews: 145903 (147.04%)

**Insight:**
- Disini saya melihat ada berapa banyak data di masing masing tabel dan
- mencarin ada berapa data yang missing value dan di kalkulasikan berapa persennya

In [18]:
order_reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [19]:
order_reviews_cleaned = order_reviews.dropna()
order_reviews_cleaned.isnull().sum()

review_id                  0
order_id                   0
review_score               0
review_comment_title       0
review_comment_message     0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

In [20]:
orders_cleaned = orders.dropna()

In [21]:
orders_cleaned.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

**Insight:**
- Pada metode ini saya menggunakan 2 metode, 1. jika missing value dibawah 5% maka akan saya hapus
- Dan yang kedua karena missing valuenya ke kolom yang tidak terlalu berdampak pada penelitian saya hapus juga

In [22]:
products_cleaned = products.dropna()

In [23]:
products["product_category_name"] = products["product_category_name"].fillna(products["product_category_name"].mode()[0])

In [24]:
products.isnull().sum()

product_id                      0
product_category_name           0
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [25]:
products["product_name_lenght"] = products["product_name_lenght"].fillna(products["product_name_lenght"].median())
products["product_description_lenght"] = products["product_description_lenght"].fillna(products["product_description_lenght"].median())
products["product_photos_qty"] = products["product_photos_qty"].fillna(products["product_photos_qty"].median())

products["product_weight_g"] = products["product_weight_g"].fillna(products["product_weight_g"].median())
products["product_length_cm"] = products["product_length_cm"].fillna(products["product_length_cm"].median())
products["product_height_cm"] = products["product_height_cm"].fillna(products["product_height_cm"].median())
products["product_width_cm"] = products["product_width_cm"].fillna(products["product_width_cm"].median())

In [26]:
products.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

## Exploratory Data Analysis (EDA)

In [ ]:
# 1Ô∏è‚É£ **EDA Univariate (Distribusi Data)**
print("\n--- Info Dataset ---")
print(orders.info())
print(order_items.info())
print(products.info())
print(order_reviews.info())

# Mengecek statistik deskriptif untuk dataset numerik
print("\n--- Statistik Deskriptif ---")
print(orders.describe())
print(order_items.describe())
print(order_reviews.describe())

# Visualisasi distribusi skor review pelanggan
plt.figure(figsize=(8, 5))
sns.histplot(order_reviews['review_score'], bins=5, kde=True, color="blue")
plt.title("Distribusi Skor Review")
plt.xlabel("Skor Review")
plt.ylabel("Jumlah Pesanan")
plt.show()

Data menunjukkan bahwa ada puncak jumlah pesanan pada bulan tertentu, yang bisa dikaitkan dengan event seperti promo besar, liburan, atau diskon khusus.

In [ ]:
# 2Ô∏è‚É£ **EDA Bivariate (Hubungan antar Variabel)**
# Melihat hubungan antara harga dan jumlah produk dalam pesanan
plt.figure(figsize=(8, 5))
sns.scatterplot(x=order_items['price'], y=order_items['order_id'], alpha=0.5)
plt.title("Hubungan antara Harga Produk dan Order")
plt.xlabel("Harga Produk")
plt.ylabel("Order ID")
plt.show()

 Bisa lebih fokus pada pemasaran dan penambahan stok untuk kategori yang paling banyak diminati.

In [ ]:
# 3Ô∏è‚É£ **EDA Multivariate (Hubungan Lebih dari Dua Variabel)**
# Menggabungkan dataset untuk melihat korelasi
merged_df = order_items.merge(orders, on="order_id").merge(products, on="product_id")
correlation = merged_df.corr()

plt.figure(figsize=(10, 6))
sns.heatmap(correlation, annot=True, cmap="coolwarm", fmt=".2f")
plt.title("Heatmap Korelasi antar Variabel")
plt.show()

Terjadi lonjakan pesanan di bulan November yang kemungkinan dipengaruhi oleh event Black Friday dan Harbolnas.

In [ ]:
# 4Ô∏è‚É£ **EDA Numerikal (Data Angka)**
# Melihat distribusi harga produk
plt.figure(figsize=(8, 5))
sns.histplot(order_items['price'], bins=50, kde=True)
plt.title("Distribusi Harga Produk")
plt.xlabel("Harga")
plt.ylabel("Frekuensi")
plt.show()

Mayoritas pesanan memiliki skor review tinggi, yang berarti kepuasan pelanggan cukup baik.

In [ ]:
# 5Ô∏è‚É£ **EDA Kategorikal (Data Kategori)**
# Melihat kategori produk yang paling laris
order_items_products = order_items.merge(products, on="product_id", how="left")
top_categories = order_items_products["product_category_name"].value_counts().head(10)

plt.figure(figsize=(12, 6))
sns.barplot(x=top_categories.values, y=top_categories.index)
plt.xlabel("Jumlah Produk Terjual")
plt.ylabel("Kategori Produk")
plt.title("Top 10 Kategori Produk Paling Laris")
plt.show()

 Produk dengan harga lebih rendah memiliki jumlah pesanan lebih banyak dibandingkan produk dengan harga tinggi.

In [ ]:
# 6Ô∏è‚É£ **Tren Penjualan Berdasarkan Waktu**
orders["order_purchase_timestamp"] = pd.to_datetime(orders["order_purchase_timestamp"])
orders["order_month"] = orders["order_purchase_timestamp"].dt.to_period("M")
monthly_orders = orders["order_month"].value_counts().sort_index()

plt.figure(figsize=(12, 6))
sns.lineplot(x=monthly_orders.index.astype(str), y=monthly_orders.values, marker="o")
plt.xlabel("Bulan")
plt.ylabel("Jumlah Pesanan")
plt.title("Tren Pesanan per Bulan")
plt.xticks(rotation=45)
plt.show()

print("EDA Selesai! üîç")

Pesanan dengan review buruk sering kali memiliki waktu pengiriman lebih lama dibanding pesanan dengan review tinggi.

### Explore ...

## Visualization & Explanatory Analysis

In [ ]:
order_items_products = order_items.merge(products, on="product_id", how="left")
category_sales = order_items_products["product_category_name"].value_counts().head(10)

plt.figure(figsize=(12, 6))
sns.barplot(x=category_sales.values, y=category_sales.index)
plt.xlabel("Jumlah Produk Terjual")
plt.ylabel("Kategori Produk")
plt.title("10 Kategori Produk Terlaris")
plt.show()

**Insight:**
- Diagram ini menunjukkan 10 kategori produk terlaris. Kategori "cama_mesa_banho" adalah yang paling laris dengan jumlah produk terjual tertinggi.
- Ada pola penurunan penjualan setelah kategori "cama_mesa_banho". Penjualan terus menurun hingga mencapai kategori "automotivo".
- Jumlah produk yang terjual bervariasi secara signifikan antar kategori. Ada kategori dengan penjualan sangat tinggi dan ada juga yang penjualannya relatif rendah.

In [ ]:
orders["order_purchase_timestamp"] = pd.to_datetime(orders["order_purchase_timestamp"])

orders["order_month"] = orders["order_purchase_timestamp"].dt.to_period("M")

monthly_orders = orders["order_month"].value_counts().sort_index()

plt.figure(figsize=(12, 6))
sns.lineplot(x=monthly_orders.index.astype(str), y=monthly_orders.values, marker="o", linestyle="-", color="blue")
plt.xlabel("Bulan")
plt.ylabel("Jumlah Pesanan")
plt.title("Jumlah Pesanan per Bulan")
plt.xticks(rotation=45)
plt.show()

**Insight:**
- Terjadi peningkatan signifikan dalam jumlah pesanan dari bulan Juli 2017 hingga November 2017.
- Jumlah pesanan mencapai puncaknya pada bulan November 2017.
- Setelah mencapai puncak, jumlah pesanan mulai menurun dari Desember 2017 hingga Februari 2018.
- Terjadi fluktuasi atau naik turun pesanan setelah Februari 2018, dengan beberapa bulan mengalami peningkatan dan beberapa bulan mengalami penurunan.
- Penurunan tajam terjadi pada bulan Agustus 2018 dan berlanjut hingga September 2018.

In [ ]:
merged_data = order_items.merge(products, on="product_id", how="left")

sales_per_product = merged_data.groupby("product_id")["order_id"].count().reset_index()
sales_per_product.columns = ["product_id", "total_sales"]
sales_per_product = sales_per_product.merge(merged_data[["product_id", "price"]].drop_duplicates(), on="product_id", how="left")

plt.figure(figsize=(10, 6))
sns.scatterplot(x=sales_per_product["price"], y=sales_per_product["total_sales"], alpha=0.5)
plt.xlabel("Harga Produk")
plt.ylabel("Total Penjualan")
plt.title("Hubungan antara Harga dan Total Penjualan")
plt.show()

**Insight:**
- Diagram ini menunjukkan hubungan antara harga produk dan total penjualan. Terlihat bahwa data tersebar di berbagai titik dengan konsentrasi yang lebih tinggi di sekitar harga rendah dan total penjualan rendah.
- Secara umum, ada indikasi korelasi negatif antara harga produk dan total penjualan. Ini berarti bahwa ketika harga produk naik, total penjualan cenderung turun, dan sebaliknya.
- Terdapat beberapa titik data yang terlihat sebagai pencilan atau anomali. Titik-titik ini memiliki total penjualan yang sangat tinggi meskipun harga produknya tidak terlalu rendah. Ini mungkin menunjukkan adanya faktor lain yang mempengaruhi penjualan selain harga, seperti promosi atau popularitas produk.

In [ ]:
order_avg_rating = order_reviews.groupby("order_id")["review_score"].mean().reset_index()
rating_sales_data = orders.merge(order_avg_rating, on="order_id", how="left")
rating_sales_data.loc[:, "avg_rating"] = rating_sales_data["review_score"].fillna(0)
print(rating_sales_data.head())

In [ ]:
plt.figure(figsize=(8, 5))

sns.histplot(order_reviews['review_score'], bins=5, kde=True, color="blue")

plt.title("Distribusi Review Score", fontsize=14)
plt.xlabel("Review Score", fontsize=12)
plt.ylabel("Jumlah Order", fontsize=12)

plt.show()

**Insight:**
- Diagram ini menyajikan distribusi atau penyebaran review score. Terlihat bahwa review score 5.0 memiliki jumlah order tertinggi secara signifikan dibandingkan dengan review score lainnya.
- Hal ini mengindikasikan bahwa mayoritas besar customer memberikan review score tertinggi (5.0), menunjukkan tingkat kepuasan yang sangat tinggi terhadap produk atau layanan.
- Diagram ini juga memperlihatkan bahwa review score 4.0 memiliki jumlah order yang cukup tinggi setelah 5.0. Namun, untuk review score di bawah 4.0, jumlah ordernya jauh lebih sedikit.
- Secara keseluruhan, diagram ini mencerminkan pola distribusi yang positif, di mana sebagian besar customer memberikan review score tinggi.

### Pertanyaan 1:

Kategori produk mana yang paling banyak terjual?

### Pertanyaan 2:

Kapan bulan dengan jumlah pesanan tertinggi?

**Insight:**
- Produk paling banyak terjual no 1. adalah cama_mesa_banho dan disusul oleh beleza_saude
- Bulan paling banyak orang membeli yaitu bulan November 2017

**Kesimpulan Diagram:**
- Diagram 1: Menunjukkan peningkatan pesanan dari Juli hingga November 2017, dengan puncak pada November, diikuti penurunan dan fluktuasi.
- Diagram 2: Menggambarkan korelasi negatif antara harga produk dan total penjualan, dengan beberapa pencilan yang menunjukkan faktor lain mempengaruhi penjualan.
- Diagram 3: Menampilkan distribusi review score yang didominasi oleh review score 5.0, mengindikasikan kepuasan pelanggan yang tinggi.
- Diagram 4: Menunjukkan 10 kategori produk terlaris, dengan "cama_mesa_banho" sebagai yang paling laris.

**Kesimpulan**
- Dari diagram-diagram ini, kita melihat bahwa bisnis mengalami pertumbuhan pesanan yang signifikan, namun juga mengalami fluktuasi dan penurunan. Harga produk mempengaruhi penjualan, tetapi ada faktor lain yang juga berperan. Mayoritas pelanggan memberikan review positif, dan ada kategori produk yang sangat populer.

**Implikasi**
- Wawasan ini dapat digunakan untuk membuat keputusan bisnis yang lebih baik. Misalnya, perusahaan dapat fokus untuk meningkatkan penjualan pada kategori yang kurang laris, atau memanfaatkan popularitas kategori terlaris untuk meningkatkan penjualan produk terkait. Mereka juga dapat menyelidiki penyebab penurunan pesanan dan mengambil tindakan yang tepat.

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1 : Kategori produk yang paling banyak terjual adalah cama_mensa_baho kita dapat melihatnya di diagram tersebut
- Conclution pertanyaan 2 : Bulan Dengan Jumlah pesanan Tertinggi ada di bulan November 2017 dan mengalami penurunan pesat di bulan Agustus 2018